<div class="container mt2">
    <div class="col-lg-12">
        <h2>Really Cool Stuff</h2>
        <h5>Buy me today!!</h5>
    </div>       
</div>
<div class="container">
  <hr class="col-lg-12 mt2 ">
</div>
<!--Item Panels -->
<div class="container mt1">
    <div class="col-md-3 trelement">
        <a href="#" data-toggle="modal" data-target="#t-shirt">
            <div class="panel panel-default product pc">
                <div class="panel-heading">
                    <h4>T-Shirts</h4>
                </div>
                <div class="panel-body pty0 long-panel">
                    <img class="img-responsive category" src="img/coolstuff/tshirt.jpg" alt="T-shirts">
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="#" data-toggle="modal" data-target="#ziphoodie">
            <div class="panel panel-default product pc">
                <div class="panel-heading">
                    <h4>Hoodies</h4>
                </div>
                <div class="panel-body pty0 long-panel">
                    <img class="img-responsive category" src="img/coolstuff/hoodie.jpg" alt="coolstuff">
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="#" data-toggle="modal" data-target="#truckerhat">
            <div class="panel panel-default product pc">
                <div class="panel-heading">
                    <h4>Hats</h4>
                </div>
                <div class="panel-body pty0 long-panel">
                    <img class="img-responsive category" src="img/coolstuff/hat.jpg" alt="coolstuff">
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="#" data-toggle="modal" data-target="#coffeemug">
            <div class="panel panel-default product pc">
                <div class="panel-heading">
                    <h4>Coffee Mug</h4>
                </div>
                <div class="panel-body pty0 long-panel">
                    <img class="img-responsive category" src="img/coolstuff/coffeecup.jpg" alt="coolstuff">
                </div>
            </div>
        </a>
    </div>
</div>
<!--modal window for t-shirt-->
<div class="modal fade" id="t-shirt" tabindex="-1" role="dialog" aria-labelledby="item1Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Close &times;</span></button>
                <h4 class="modal-title" id="myModalLabel">T-Shirt</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        <h4>T-Shirt</h4>
                        <img class="img-responsive img-rounded" src="img/coolstuff/tshirt.jpg" alt="coolstuff">
                        <p class="text-center mt2">
                            This shirt is a 50/50 cotton blend white shirt printed with a 3 color logo.
                        </p>
                    </div>
                </div>
                <div class="row mt1">
                    <form action="/product_details" method="post">
                        <div class="col-lg-6 col-lg-offset-3">
                            <input type="hidden" name="url" value="img/coolstuff/tshirt.jpg"/>
                            <center><button type="submit" class="btn btn-template-main"><i class="fa fa-shopping-basket"></i>Order Now</button></center>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <h3>Other products you may be interested in:</h3>
                    <div class="row">
                        <div class="col-lg-3">
                            <form action="/product_details" method="post">
                                <input type="hidden" name="url" value="img/coolstuff/hoodie_jm.jpg"/>
                                <button type="submit"><img class="img-responsive img-rounded" src="img/coolstuff/hoodie.jpg" alt="coolstuff"></button>
                            </form>
                        </div>
                        <div class="col-lg-3">
                            <form action="/product_details" method="post">
                                <input type="hidden" name="url" value="img/coolstuff/hat.jpg"/>
                                <button type="submit"><img class="img-responsive img-rounded" src="img/coolstuff/hat.jpg" alt="coolstuff"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal window for zip hoodie-->
<div class="modal fade" id="ziphoodie" tabindex="-1" role="dialog" aria-labelledby="item1Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Close &times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Zip Hoodie</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h4 class="text-center">Zip Hoodie</h4>
                        <img class="img-responsive img-rounded" src="img/coolstuff/hoodie.jpg" alt="coolstuff">
                        <p class="text-left mt1">
                            Our finest 20 oz. 50/50 blend sweatshirt with stainless steel full zipper. 
                        </p>
                    </div>
                </div>
                <div class="row mt1">
                    <form action="/product_details" method="post">
                        <div class="col-lg-6 col-lg-offset-3">
                            <input type="hidden" name="url" value="img/coolstuff/hoodie.jpg"/>
                            <center><button type="submit" class="btn btn-template-main"><i class="fa fa-shopping-basket"></i>Order Now</button></center>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <h3>Other products you may be interested in:</h3>
                    <div class="row">
                        <div class="col-lg-3">
                            <form action="/product_details" method="post">
                                <input type="hidden" name="url" value="img/coolstuff/tshirt.jpg"/>
                                <button type="submit"><img class="img-responsive img-rounded" src="img/coolstuff/tshirt.jpg" alt="coolstuff" alt="coolstuff"></button>
                            </form>
                        </div>
                        <div class="col-lg-3">
                            <form action="/product_details" method="post">
                                <input type="hidden" name="url" value="img/coolstuff/hat.jpg"/>
                                <button type="submit"><img class="img-responsive img-rounded" src="img/coolstuff/hat.jpg" alt="coolstuff"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal window for trucker hat-->
<div class="modal fade" id="truckerhat" tabindex="-1" role="dialog" aria-labelledby="item1Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Close &times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Trucker Hat</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4>Trucker Hat</h4>
                    <img class="img-responsive img-rounded" src="img/coolstuff/hat.jpg" alt="coolstuff">
                    <p class="text-center mt2">
                        Our trucker style hat keeps you cool while you look hot!
                    </p>
                </div>
            </div>
            <div class="row mt1">
                <form action="/product_details" method="post">
                        <div class="col-lg-6 col-lg-offset-3">
                            <input type="hidden" name="url" value="img/coolstuff/hat.jpg"/>
                            <center><button type="submit" class="btn btn-template-main"><i class="fa fa-shopping-basket"></i>Order Now</button></center>
                        </div>
                </form>
            </div>
            <div class="modal-footer">
                <h3>Other products you may be interested in:</h3>
                    <div class="row">
                        <div class="col-lg-3">
                            <form action="/product_details" method="post">
                                <input type="hidden" name="url" value="img/coolstuff/tshirt.jpg"/>
                                <button type="submit"><img class="img-responsive img-rounded" src="img/coolstuff/tshirt.jpg" alt="coolstuff"></button>
                            </form>
                        </div>
                        <div class="col-lg-3">
                            <form action="/product_details" method="post">
                                <input type="hidden" name="url" value="img/coolstuff/hoodie.jpg"/>
                                <button type="submit"><img class="img-responsive img-rounded" src="img/coolstuff/hoodie.jpg" alt="coolstuff"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--modal window for Coffee Mug-->
<div class="modal fade" id="coffeemug" tabindex="-1" role="dialog" aria-labelledby="item1Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Close &times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Coffee Mug</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4>Coffee Mug</h4>
                    <img class="img-responsive img-rounded" src="img/coolstuff/coffeecup.jpg" alt="coolstuff">
                    <p class="text-center mt2">
                        Always a classic!
                    </p>
                </div>
            </div>
            <div class="row mt1">
                <form action="/product_details" method="post">
                        <div class="col-lg-6 col-lg-offset-3">
                            <input type="hidden" name="url" value="img/coolstuff/coffeecup.jpg"/>
                           <center><button type="submit" class="btn btn-template-main"><i class="fa fa-shopping-basket"></i>Order Now</button></center>
                        </div>
                </form>
            </div>
            <div class="modal-footer">
                <h3>Other products you may be interested in:</h3>
                    <div class="row">
                        <div class="col-lg-3">
                            <form action="/product_details" method="post">
                                <input type="hidden" name="url" value="img/coolstuff/tshirt.jpg"/>
                                <button type="submit"><img class="img-responsive img-rounded" src="img/coolstuff/tshirt.jpg" alt="coolstuff"></button>
                            </form>
                        </div>
                        <div class="col-lg-3">
                            <form action="/product_details" method="post">
                                <input type="hidden" name="url" value="img/coolstuff/hoodie.jpg"/>
                                <button type="submit"><img class="img-responsive img-rounded" src="img/coolstuff/hoodie.jpg" alt="coolstuff"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>